.footer {
    margin-top: 40px;
    background: black;
    color: white;

    &__info {
        padding-top: 40px;
    }
}

.lang {
    margin: 20px 0;
}

.select-lang {
    background: black;
    color: lightgrey;
    border: 1px solid lightgrey;
    width: 250px;
    padding: 5px 10px;
}

.logo-footer {
    fill: white;
    width: 150px;
    height: 50px;
}

.app {
    margin-top: 20px;
    margin-bottom: 50px;
}

.appstore {
    margin-right: 10px;
    border: 1px solid lightgrey;
}

.footer__info__company-item, .footer__info__privacy-item {
    padding: 8px 0;
    cursor: pointer;

    &:hover {
        color: grey;
    }
}
