.header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 15px 40px;
    border-bottom: 1px solid lightgrey;
    background: white;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.navigation {
    display: flex;
}

.logopic {
    width: 120px;
    height: 34px;
    margin-top: 10px;
    margin-right: 30px;
}

.menu {
    display: flex;
    left: 15%;


    &__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    color: #242424;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .5px;

    @media (max-width: 880px) {
        display: none;
    }

    &:hover {
        color: rgb(5, 173, 202);
    }
}
}

.navigation__input {
    display: none;
}

.search {
    position: absolute;
    right: 0;
    top: 30%;
}

.searcharea {
    background: lightgrey;
    color: grey;
    padding: 10px 10px;
    border-radius: 20px;
    width: 370px;
}

.searchpic {
    width: 32px;
    height: 22px;
    position: absolute;
    top: 10%;
    right: 5%;
}

