.music {
    justify-content: space-between;
    padding-top: 60px;

    &__charts{

        &__us {
            background: url('../images/chart-discovery.png') no-repeat;
            background-size: contain;
            width: 340px;
            height: 160px;
            margin-bottom: 20px;
            @include padding(10px, 10px);

            &:hover {
                filter: brightness(0.85);
            }

            .title-chart {
                color: white;
            }
        }

        &__ger {
            background: url('../images/chart-country.png') no-repeat;
            background-size: contain;
            width: 340px;
            height: 160px;
            margin-bottom: 20px;
            @include padding(10px, 10px);

            &:hover {
                filter: brightness(0.85);
            }

            .title-chart {
                color: blue;
            }
        }

        &__global {
            background: url('../images/chart-global.png') no-repeat;
            background-size: contain;
            width: 340px;
            height: 160px;
            @include padding(10px, 10px);

            &:hover {
                filter: brightness(0.85);
            }

            .title-chart {
                color: rgb(71, 179, 241);
            }
        }
    }

    &__list {

        &__item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                background: white;
                background-image: url('../images/play.svg');
                width: 33px;
                height: 33px;
                border-radius: 50%;
                position: absolute;
                top: 50;
                left: -200px;
                transition: .3s;
            }

            &::after {
                content: '';
                background: url('../images/apple.svg') no-repeat;
                width: 73px;
                height: 30px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -1000px;
                transition: .3s;
            }

            &:hover {
                background: rgb(238, 236, 236);

                .name {
                    color: rgb(0, 183, 255);
                }

                &::before {
                    left: 5px;
                }

                &::after {
                    right: 10px;
                }

            }

            .name {
                font-weight: 700;
                font-size: 16px;
                padding-bottom: 4px;
            }

            .author {
                padding-top: 4px;
                color: #949494;
                font-size: 16px;
            }
        }

        &-number {
            font-weight: 700;
            font-size: 20px;
            padding-left: 10px;
        }

        &__image {
            margin: 0 20px;
        }
    }
}

.showmore {
    margin-top: 40px;
    background: rgb(0, 136, 255);
    position: relative;
    left: 40%;

    &:hover {
        background: rgb(0, 197, 247);
    }
}

.button-text {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 30px;

}

.main-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.title-chart {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle-chart {
    font-size: 18px;
    font-weight: 700;
    color: white;
}
